# Reading and Writing CSV files

In [28]:
import csv
import pandas as pd
import numpy as np


%precision 2

with open(r'C:\Users\user\Downloads\mpg.csv') as csvfile:
    mpg = list(csv.DictReader(csvfile))
    
mpg[:3] # The first three dictionaries in our list.

[OrderedDict([('', '1'),
              ('manufacturer', 'audi'),
              ('model', 'a4'),
              ('displ', '1.8'),
              ('year', '1999'),
              ('cyl', '4'),
              ('trans', 'auto(l5)'),
              ('drv', 'f'),
              ('cty', '18'),
              ('hwy', '29'),
              ('fl', 'p'),
              ('class', 'compact')]),
 OrderedDict([('', '2'),
              ('manufacturer', 'audi'),
              ('model', 'a4'),
              ('displ', '1.8'),
              ('year', '1999'),
              ('cyl', '4'),
              ('trans', 'manual(m5)'),
              ('drv', 'f'),
              ('cty', '21'),
              ('hwy', '29'),
              ('fl', 'p'),
              ('class', 'compact')]),
 OrderedDict([('', '3'),
              ('manufacturer', 'audi'),
              ('model', 'a4'),
              ('displ', '2'),
              ('year', '2008'),
              ('cyl', '4'),
              ('trans', 'manual(m6)'),
              ('drv', 'f'),
              ('cty', '20'),
              ('hwy', '31'),
              ('fl', 'p'),
              ('class', 'compact')])]

In [6]:
len(mpg)

234

In [27]:
# another way
data = pd.read_csv(r'C:\Users\user\Downloads\mpg.csv')
data.head()

,Unnamed: 0,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
0,1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
1,2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
2,3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
3,4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
4,5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact

`keys` gives us the column names of our csv.

In [7]:
mpg[0].keys()

odict_keys(['', 'manufacturer', 'model', 'displ', 'year', 'cyl', 'trans', 'drv', 'cty', 'hwy', 'fl', 'class'])

This is how to find the average cty fuel economy across all cars. All values in the dictionaries are strings, so we need to convert to float.

In [8]:
sum(float(d['cty']) for d in mpg) / len(mpg)

16.86

Similarly this is how to find the average hwy fuel economy across all cars.

In [9]:
sum(float(d['hwy']) for d in mpg) / len(mpg)

23.44

Use `set` to return the unique values for the number of cylinders the cars in our dataset have.

In [22]:
cylinders = set(d['cyl'] for d in mpg)
cylinders

{'4', '5', '6', '8'}

In [30]:
# another way
print(np.unique(data['cyl']))

[4 5 6 8]

Here's a more complex example where we are grouping the cars by number of cylinder, and finding the average cty mpg for each group.

In [23]:
CtyMpgByCyl = []

for c in cylinders: # iterate over all the cylinder levels
    summpg = 0
    cyltypecount = 0
    for d in mpg: # iterate over all dictionaries
        if d['cyl'] == c: # if the cylinder level type matches,
            summpg += float(d['cty']) # add the cty mpg
            cyltypecount += 1 # increment the count
    CtyMpgByCyl.append((c, summpg / cyltypecount)) # append the tuple ('cylinder', 'avg mpg')

CtyMpgByCyl.sort(key=lambda x: x[0])
CtyMpgByCyl

[('4', 21.01), ('5', 20.50), ('6', 16.22), ('8', 12.57)]

Use `set` to return the unique values for the class types in our dataset.

In [24]:
vehicleclass = set(d['class'] for d in mpg) # what are the class types
vehicleclass

{'2seater', 'compact', 'midsize', 'minivan', 'pickup', 'subcompact', 'suv'}

In [32]:
# another way
print(np.unique(data['class']))

['2seater' 'compact' 'midsize' 'minivan' 'pickup' 'subcompact' 'suv']

And here's an example of how to find the average hwy mpg for each class of vehicle in our dataset.

In [33]:
HwyMpgByClass = []

for t in vehicleclass: # iterate over all the vehicle classes
    summpg = 0
    vclasscount = 0
    for d in mpg: # iterate over all dictionaries
        if d['class'] == t: # if the cylinder amount type matches,
            summpg += float(d['hwy']) # add the hwy mpg
            vclasscount += 1 # increment the count
    HwyMpgByClass.append((t, summpg / vclasscount)) # append the tuple ('class', 'avg mpg')

HwyMpgByClass.sort(key=lambda x: x[1])
HwyMpgByClass

[('pickup', 16.88),
 ('suv', 18.13),
 ('minivan', 22.36),
 ('2seater', 24.80),
 ('midsize', 27.29),
 ('subcompact', 28.14),
 ('compact', 28.30)]

In [63]:
import datetime as dt
import time as tm

time` returns the current time in seconds since the Epoch. (January 1st, 1970)

In [64]:
tm.time()

1582476270.57

Convert the timestamp to datetime.

In [59]:
dtnow = dt.datetime.fromtimestamp(tm.time())
dtnow
print(dt.datetime.now())

2020-02-23 18:41:57.062980

Handy datetime attributes:

In [60]:
dtnow.year, dtnow.month, dtnow.day, dtnow.hour, dtnow.minute, dtnow.second # get year, month, day, etc.from a datetime

(2020, 2, 23, 18, 41, 57)

In [66]:
dt.datetime.now()

datetime.datetime(2020, 2, 23, 18, 44, 48, 323963)

`date.today` returns the current local date.

In [68]:
today = dt.date.today()

`timedelta` is a duration expressing the difference between two dates.

In [71]:
delta = dt.timedelta(days = 100) # create a timedelta of 100 days
delta

datetime.timedelta(days=100)

 `date.today` returns the current local date.

In [73]:
today = dt.date.today()

In [74]:
today - delta # the date 100 days ago

datetime.date(2019, 11, 15)

In [75]:
today > today-delta # compare dates

True

An example of a class in python:

In [77]:
class Person:
    department = 'School of Information' #a class variable

    def set_name(self, new_name): #a method
        self.name = new_name
    def set_location(self, new_location):
        self.location = new_location

In [78]:
person = Person()
person.set_name('Christopher Brooks')
person.set_location('Ann Arbor, MI, USA')
print('{} live in {} and works in the department {}'.format(person.name, person.location, person.department))

Christopher Brooks live in Ann Arbor, MI, USA and works in the department School of Information

Here's an example of mapping the `min` function between two lists.

In [132]:
store1 = [10.00, 11.00, 12.34, 2.34]
store2 = [9.00, 11.10, 12.34, 2.01]
cheapest = list(map(min, [store1, store2]))
cheapest

[2.34, 2.01]

Now let's iterate through the map object to see the values.

In [133]:
for item in cheapest:
    print(item)

2.34
2.01

the same thing but with list comprehension.

In [136]:
my_item = [item for item in cheapest]
my_item

[2.34, 2.01]